article{
    color:rgb(183, 41, 183);
    background-color: rgba(137, 43, 226, 0.289);
    margin:auto;
    width:400px;
    height:auto;
    -webkit-box-shadow:0px 0px 70px 35px rgba(106,24,158,0.6);
-moz-box-shadow: 0px 0px 70px 35px rgba(106,24,158,0.6);
box-shadow: 0px 0px 70px 35px rgba(106,24,158,0.6);
}
footer{
    position: fixed;
    bottom: 50px;
    width: 100vw;
    color: rgb(94, 23, 94);
    background-color: rgba(137, 43, 226, 0.289);
    margin: auto;
}

.image-container {
    position: relative;
    margin-bottom: 10px; 
  }


.footer-image {
    position: absolute;
    bottom: 0px; 
    left: 50%;
    transform: translateX(-50%);
  }